<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-mailcore2" version="0.0.1">
    
  <name>MailCore2</name>
	<description>Cordova plugin that exposes the interface of mailcore2</description>	
  <license>Apache 2.0</license>
	<keywords>cordova,smtp,imap,mailcore2,email</keywords>
	<repo>https://github.com/CWBudde/cordova-plugin-mailcore2.git</repo>
  <js-module src="www/mailcore2.js" name="mailcore2">
    <clobbers target="mailcore2" />
  </js-module>
  <engines>
    <engine name="cordova" version=">=6.0.0" />
    <engine name="cordova-ios" version=">=4.0.0" />
  </engines>
  <platform name="ios">
    <config-file target="config.xml" parent="/widget">
      <feature name="MailCore2">
        <param name="ios-package" value="CDVMailCore2" />
      </feature>
    </config-file>
    <framework src="CFNetwork.framework" />
    <framework src="Security.framework" />
    <framework src="src/ios/MailCore.framework" custom="true" weak="true" />
    <framework src="libstdc++.dylib"/>
    <framework src="libsasl2.dylib"/>
    <framework src="libxml2.dylib"/>
    <framework src="libz.dylib"/>
    <header-file src="src/ios/CDVMailCore2.h"/>
    <source-file src="src/ios/CDVMailCore2.m"/>
    <header-file src="src/ios/MailCore.framework/Headers/MailCore.h" />
    <source-file src="src/ios/libMailCore-ios.a" framework="true" />
    <framework src="mailcore2-ios" type="podspec" spec="~> 1.0.0" />
  </platform>
</plugin>
